*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}
.bg-section{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.bg-section__title{
    margin-bottom: 15px;
    color: lightskyblue;
}

.example-row{
    display: flex;
    justify-content: center;
    gap: 30px;
}
